<div class="container margin-top">
    <div class="row">
        <div class="col-4">
            <h4 class="text-monospace font-weight-bold">Characters</h4>
        </div>
        <div class="col-6">
            <div class="form-group">
                <input 
                    type="search" 
                    class="form-control border border-primary"
                    [(ngModel)]="term" 
                    placeholder="Search Character">
            </div>
        </div>
        <div class="col-2">
            <div
                class="spinner-border text-danger" 
                role="status"
                *ngIf="characters.length == 0">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
    <div class="row">
        <div 
            class="col-4 mb-5"
            *ngFor="let character of characters | filter: term | orderBy: name">
            <app-card
                [data]="character"
                [dataComplete]="characters">
            </app-card>
        </div>
    </div>
</div>